.publications {
  position: relative;
  .readmore__button {
    cursor: pointer;
    width: 250px;
    height: 50px;
    color: $white;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    position: absolute;
    bottom: 60px;
    left: 520px;
    &:before {
      content: 'Ще публікації';
    }
  }
  .limit {
    max-height: 870px;
    overflow: hidden;
    position: relative;
    .grad {
      position: absolute;
      bottom: 0;
      background: linear-gradient(to bottom, rgb(255 255 255 / 0%), rgb(255 255 255) 60%);
      width: 100%;
      height: 90px;
      opacity: 1;
      transition: 0.3s;
    }
  }
  .readmore__checker {
    opacity: 0;
    position: absolute;
  }
  .readmore__checker:checked ~ .limit {
    max-height: none;
  }
  .readmore__checker:checked ~ .grad {
    opacity: 0;
    transition: 0.3s;
  }
  .readmore__checker:checked ~ .readmore__button {
    bottom: 0;
    &:before {
      content: 'Згорнути';
    }
  }
  a {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    font-weight: bold;
  }
  h3 {
    font-size: 38px;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(to right, $lightred, #ee797d);
    -webkit-background-clip: text;
    line-height: 40px;
    margin: 10px 0 45px;
  }
  &__wrapper {
    background: linear-gradient(to top, $white, $lightgrey);
    padding-top: 40px;
    .container {
      padding: 0;
    }
    h5 {
      color: $blue;
      font-size: 16px;
      font-weight: bold;
    }
    h6 {
      color: $grey;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      margin: 10px 0 45px;
      position: relative;

      &:after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: $verylightgrey;
        position: absolute;
        top: 35px;
        left: 0;
      }
    }

    .row {
      div {
        img {
          width: 100%;
        }

        .card__wrapper {
          background-color: $white;
          border-radius: 10px;
          padding: 20px;
          margin-bottom: 40px;
        }
      }
    }
  }
}





