body {
  *{
    font-family: 'Open Sans', sans-serif;

  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    list-style-position: inside;
  }
  a {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  address {
    margin: 0;
  }
}

label {
  display: none;
}

@media(max-width: $breakpointXl) {
  .container {
    max-width: $breakpointLg;
  }
}
@media(max-width: $breakpointLg) {
  .container {
    max-width: $breakpointMd;
  }
}
@media(max-width: $breakpointMd) {
  .container {
    max-width: $breakpointSm;
  }
}
@media(max-width: $breakpointSm) {
  .container {
    max-width: 100%;
  }
}

