$breakpointXl: 1200px;
$breakpointLg: 992px;
$breakpointMd: 768px;
$breakpointSm: 576px;

$lightred: #F0145A;
$white: white;
$grey: #b3b3ba;
$semilightgrey: #ccccd2;
$lightgrey: #f5f5fa;
$blue: #24a3ff;
$semidarkgrey: #686887;
$verylightgrey: #e6e6f0;